<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">pesado123</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tramite_documentario_desarrollo</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="com.tony.models.Documento.Tipo_peticion"/>
        <mapping class="com.tony.HerenciaEntidades.Persona"/>
        <mapping class="com.tony.models.Documento.AuditoriaDocumento"/>
        <mapping class="com.tony.models.Documento.Concluido"/>
        <mapping class="com.tony.models.Documento.Documento"/>
        <mapping class="com.tony.models.Documento.Estado_documentos"/>
        <mapping class="com.tony.models.Documento.OperacionDocumento"/>
        <mapping class="com.tony.models.Documento.Operacion_EstadosDocumentos"/>
        <mapping class="com.tony.models.Documento.Tipo_Documento"/>
        <mapping class="com.tony.models.Tupa"/>
        <mapping class="com.tony.models.UsuarioExterrno.UsuarioExterno"/>
        <mapping class="com.tony.models.UsuarioExterrno.UsuarioExterno"/>
        <mapping class="com.tony.models.UsuarioExterrno.UsuarioExternoJuridico"/>
        <mapping class="com.tony.models.UsuarioExterrno.UsuarioExternoNatural"/>
        <mapping class="com.tony.models.UsuarioExterrno.UsuarioExternoNatural"/>
        <mapping class="com.tony.models.UsuarioInterno.Area"/>
        <mapping class="com.tony.models.UsuarioInterno.AuditoriaUsuario"/>
        <mapping class="com.tony.models.UsuarioInterno.Perfil"/>
        <mapping class="com.tony.models.UsuarioInterno.Usuario_interno"/>
    </session-factory>
</hibernate-configuration>
